{% extends 'base.html' %}

{% block content %}

<div class="mb-4">
    <a href="/leituras"
       class="bg-gray-700 px-4 py-2 rounded-lg hover:bg-gray-600">
        ← Voltar
    </a>
</div>

<div class="bg-slate-900 p-6 rounded-xl max-w-md">
    <h2 class="text-xl mb-4">Editar Leitura</h2>

    <form id="form">

        <input class="w-full mb-3 p-2 bg-slate-800 rounded"
            type="number" step="any" id="temp"
            value="{{ leitura.temperatura }}">

        <input class="w-full mb-3 p-2 bg-slate-800 rounded"
            type="number" step="any" id="umid"
            value="{{ leitura.umidade }}">

        <button class="bg-green-500 px-4 py-2 rounded">
            Salvar
        </button>

    </form>
</div>

<script>
form.addEventListener('submit', e => {
    e.preventDefault();

    fetch(`/leituras/{{ leitura.id }}`, {
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            temperatura: parseFloat(temp.value),
            umidade: parseFloat(umid.value)
        })
    }).then(() => window.location.href = "/leituras");
});
</script>

{% endblock %}