{% extends 'base.html' %}

{% block content %}

<h2>Últimas Leituras</h2>

<div class="cards">
    {% for l in leituras %}
    <div class="card">
        <p>🌡️ {{ l.temperatura }} °C</p>
        <p>💧 {{ l.umidade }} %</p>
        <small>{{ l.timestamp }}</small>
    </div>
    {% endfor %}
</div>

<h2>Gráfico</h2>
<canvas id="grafico"></canvas>

<p id="status">Atualizando automaticamente a cada 5 segundos...</p>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const dados = {{ leituras|tojson }};

    const labels = dados.map(d => d.timestamp);
    const temps = dados.map(d => d.temperatura);

    const ctx = document.getElementById('grafico').getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Temperatura',
                data: temps
            }]
        }
    });

    setInterval(() => {
        location.reload();
    }, 5000);

});
</script>

{% endblock %}
